*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    background-color: #ffffff;
    display:flex;justify-content: center;
    align-items: center;
}
.container{
    width:80%;
    background-color: #fe5050;
    height:90vh;
    border-radius:1rem;
    display:flex;justify-content: center;flex-direction: column;
    align-items: center;
}
.uploadSection{
    width:300px;
    height:300px;
    border:5px dashed #fff;
    border-radius:50%;
    display:flex;justify-content: center;
    align-items: center;
    cursor:pointer;
    position:relative;
    animation: rotation 20s infinite linear;
}
.uploadSection:hover , .uploadSection:hover .uploadSectionInner{
    animation-duration:5s;
}
.uploadSection .uploadSectionInner{
    display:flex;justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    animation: non_rotation 20s infinite linear;
}
.uploadText{
    color:white;
    font-size:2rem;
    font-family: 'Poppins',sans-serif;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
@keyframes non_rotation {
    from{
        transform: rotate(360deg);
    }to{
        transform: rotate(0deg);
    }
}

.files{
    width:450px;
    height:500px;
    margin-top:2rem;
}
.uploadingFile{
    height:100px;
    border:2px solid white;
    border-radius:.5rem;
}
.uploadingFile{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.rightUploadingFile{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.fileName{
    font-size:1.4rem;
    color:white;
    font-family: 'Poppins',sans-serif;
}
.bottomUploadingFile{
    display:flex;
    align-items: center;
}
.progressBar{
    width:270px;
    height:10px;
    background-color: transparent;
    border-radius:5px;
    position: relative;
}
.progress{
    /* width:50%; */
    width:0;
    position: absolute;
    top:0;
    left:0;
    border-radius:5px;
    height:10px;
    background-color:#ffd7d7;
}
.percentage{
    font-size:1.1rem;
    color:white;
    font-family: 'Poppins';
    margin-left:.5rem;
}

.uploadedFile{
    /* border:2px solid white; */
    max-height: 400px;
    margin-top:2rem;
    /* border-radius:.5rem; */
    overflow-y: auto;
}
.uploadedFile::-webkit-scrollbar{
    width:7px;
    /* background-color: white; */
}
.uploadedFile::-webkit-scrollbar-thumb{
    /* background-color: #fe5050; */
    background-color: #fff;
    border-radius:3.5px;
}
.fileLink{
    text-decoration: none;
}
.eachFile{
    width:95%;
    background-color: white;
    height:100px;
display:flex;
border-radius:.4rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom:.5rem;
    padding:.5rem 1.5rem .5rem 1.5rem;

}
/* .eachFile:last-child{
    margin-bottom:0;
} */
.notFound{
    margin: 1rem 0;
    text-align:center;
    margin-left:auto;
    font-size:2rem;
    font-family:'Poppins',sans-serif;
    color:white;
}